/.idea/
/pass.ini
/oauth_token_cache.json
/match_finder/needs_match/data.csv
/match_finder/suggested_match/data.csv
/match_finder/total_match_options/data.csv
/match_finder/similarity_too_low/data.csv
**/.DS_Store
**/*.DS_Store
*.pyc 